@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');



.climate-crisis {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}



/* Reset basique */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* On force la hauteur pour html, body et #root */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
